extends layout

block content

  nav(class="navbar navbar-expand-lg navbar-light bg-light")
    a(class="navbar-brand" href="#") Alcohol
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarNav")
      ul(class="navbar-nav")
        li(class="nav-item active")
          a(class="nav-link" href="#") Dashboard 
            span(class="sr-only") (current)
        li(class="nav-item")
          a(class="nav-link" href="sessions") Sessies

  .container
    .content
      .sessions
        h2 Sessies
        .content-column
          h3 Nieuwe sessie starten voor vandaag
          div(class="alert alert-primary session-alert" role="alert") Geen Arduino gevonden.
          .session-start
          small(class="text-muted") Maak met de Arduino van Milan Passchier verbinding met deze applicatie om een nieuwe sessie te kunnen starten.
          
        .content-column
          h3 Oude sessies
          p geen content
          
  script.
    function find_session() {
      $.ajax({
        type: "get",
        url: "/session/find",
        success:function(data) {
          
          if (data) {
            $(".session-alert").hide();
            $(".session-start").append('<div style="width: 18rem;" class="card"><img src="https://cdn.arduino.cc/homepage/static/media/arduino-UNO.bcc69bde.png" alt="Card image cap" class="card-img-top"><div class="card-body"><h4 class="card-title">Arduino van Milan Passchier</h4><h5 class="card-subtitle mb-2 text-muted">' + data.id + '</h5><a href="#" class="btn btn-primary">Start sessie voor ' + data.date + '</a></div></div>');
          } else {
            setTimeout(function(){
              find_session();
            }, 5000);
          }
          
        }
      });
    }
    
    find_session();